html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'Varela Round';
}
.shadow {
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
	-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
	box-shadow: 1px 1px 2px 0 #d0d0d0;
}
ul { 
	margin: 0;
	padding: 0;
}
#controls {
	width: 200px;
	height: 100%;
	background: #FFF;
	float: left;
}
#status {
	height: 200px;
	background: #FFF;
}
#display {
	float: left;
	height: 100%;
	background: #FFF;
}
.track {
	padding: 10px;
}
#trackMenu {
	background: red;
	height: 100%;
	display: none;
}
canvas { display: none; }
#tracksLabel {
	margin: 5px;
	text-align: center;
	margin: auto;
	width: 190px;
}
li.track {
	list-style: none;
	background: #126180;
	height: 35px;
	/*line-height: 35px;*/
	margin: 5px;
	cursor: pointer;
	color: #FFF;
	position: relative;
}
li.track.selected {
	/*border: 2px solid gray;*/
}
li.track .arrow {
	position: absolute;
	background: url("images/ui-icons_888888_256x240.png") -34px -17px no-repeat;
	width: 12px;
	height: 12px;
	top: 20px;
	right: -12px;
	display: none;
}
li.track.selected .arrow {
	display: block;
}
.button, .tm-btn {
	background: green;
	height: 35px;
	line-height: 35px;
	margin: 5px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	color: #FFF;
}
#clock {
	height: 35px;
	line-height: 35px;
	margin: 5px;
	text-align: center;
	font-family: 'Rationale';
	font-size: 2em;
}
li .status {
	width: 10px;
	float: left;
	letter-spacing: 20px;
}
li .label {
	text-align: center;
}
li .name {
	margin-left: 40px;
}
.tm-btn {
	background: green;
	margin: 5px;
	display: none;
	cursor: pointer;
	width: 190px;
}
#tm-back {
	background: orange;
}

/* IEM stuff */
#displayIem {
	overflow-y: hidden;
	position: relative;
}
#displayIem > ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
#displayIem li {
	height: 35px;
	margin-bottom: 5px;
	line-height: 35px;
	font-size: 11px;
	overflow: hidden;
	position: relative;
}

.updated {
	font-size: 10px;
	text-align: center;
}

#displayIem li.even {
	background: #D3D3D3;
}

#displayIem li.SVR { background: #FFFF00; }
#displayIem li.TOR { background: #FF0000; }
/*#displayIem li.SVR span.iemMessage, #displayIem li.TOR span.iemMessage {
	left: 6px;
}*/

#displayIem span.iemMessage {
	position: relative;
	left: 10px;
}